container_commands:
  01-copy:
    command: "aws s3 cp s3://${RUNTIME_PRIVATE_BUCKET}/${ENV_CONFIG}/env/nginx.conf /var/elasticbeanstalk/staging/nginx"
  02-copy:
    command: "aws s3 cp s3://${RUNTIME_PRIVATE_BUCKET}/${ENV_CONFIG}/env/ /var/tmp  --recursive --exclude '*.txt' --include '*' "
  03-copy:
    command: "aws s3 cp s3://${CERTS_BUCKET}/ /etc/pki/tls/certs  --recursive --exclude '*.exe' --include '*' "
  04-copy:
    command: "aws s3 cp s3://${RUNTIME_PRIVATE_BUCKET}/${ENV_CONFIG}/env/esbconfig_pricing.xml /var/app/esbconfig.xml"
