--- 
commands: 
  remove_old_cron: 
    command: "rm -f /etc/cron.d/*.bak"
  make_file_executable:
    command: "chmod +x /var/tmp/mbscron.sh"
files: 
  /etc/cron.d/mbscron: 
    content: |
      # Version: 1.1.2-rpm
      MAILTO=""
      PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

      0 6,18 * * * root /var/tmp/mbscron.sh
    group: root
    mode: "000644"
    owner: root
  /var/tmp/mbscron.sh: 
    content: |
        #!/bin/bash
        # This Script will restart the AWS Log Service Daily
        service awslogs restart >> /var/log/mbscron.log
    group: root
    mode: "000644"
    owner: root